@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

::-moz-placeholder {
  color: black;
}

:-ms-input-placeholder {
  color: black;
}

::placeholder {
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

.booking__button {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-image: linear-gradient(#ff79da, #9356dc);
  margin: auto;
}
.booking__button:hover {
  background-image: linear-gradient(#9356dc, #ff79da);
}

.intro__button {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  background-color: #f2f2f2;
  border-radius: 40px;
  width: 100%;
  border: none;
  padding: 15px;
  margin: auto;
  margin-bottom: 15px;
  font-weight: 800;
}
.intro__button:hover {
  background-color: white;
}

footer, header, .cards, .intro, .search, .booking__button {
  padding: 15px;
}

.booking {
  padding: 30px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  text-align: center;
}
.booking__title {
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: -1px;
}
.booking p {
  font-size: 16px;
  padding-bottom: 20px;
}

.search {
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
}
.search input {
  border: none;
  background-color: #e6e6e6;
  padding-left: 20px;
}

.intro {
  display: flex;
  text-align: left;
  justify-content: center;
  flex-direction: column;
}
.intro__title {
  padding-bottom: 20px;
}
.intro__buttons {
  display: flex;
  flex-direction: column;
}

.cards {
  background-color: #f2f2f2;
}

header {
  display: flex;
  justify-content: center;
}
header img {
  height: 30px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  color: white;
}
footer img {
  color: white;
  height: 20px;
  width: 120px;
  margin-bottom: 10px;
}
footer .footer__text {
  display: flex;
  flex-direction: row;
}
footer .footer__text i {
  padding-right: 10px;
}
footer .footer__text h4 {
  line-height: 1.4;
  font-weight: 800;
}
footer p {
  font-size: 14px;
  line-height: 1.6;
}
footer h1 {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  padding-bottom: 15px;
}