@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

footer, header, .booking__container {
  padding: 20px;
}

.booking__container {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  text-align: center;
}
.booking__container h2 {
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 900;
}

header {
  display: flex;
  justify-content: center;
}
header img {
  height: 30px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  color: white;
}
footer img {
  color: white;
  height: 20px;
  width: 120px;
  margin-bottom: 10px;
}
footer .footer__text {
  display: flex;
  flex-direction: row;
}
footer .footer__text i {
  padding-right: 10px;
}
footer .footer__text h4 {
  line-height: 1.4;
  font-weight: 800;
}
footer p {
  font-size: 14px;
  line-height: 1.6;
}
footer h1 {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  padding-bottom: 15px;
}