* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
    font-family: $main-font;
}

@media screen and (min-width: 600px) {
html {
        background-image: url(../images/nordwood-themes-KcsKWw77Ovw-unsplash.jpg);
        width: 100%;
        object-fit: cover;
        

    }

    header{
        width:70%;
        margin:auto;
        background-color: $base-color;
    }

    .search{
        width: 70%;
        margin: auto;
    }

    .booking{
        width:70%;
        margin: auto;
    }

    .intro{
        width: 70%;
        margin: auto;
        background-color: $base-color;
    }

    .cards{
        width: 70%;
        margin: auto;
    }

    footer{
        width: 70%;
        margin: auto;
    }

    .footer__text{
        width: 70%;
        margin: auto;
    }


    footer a{
        width: 70%;
        margin: auto;
    }

    footer h2{
        width: 70%;
        margin: auto;
    }

    .card{
        i{
            font-size: 30px;
            font-weight: 100;
        }
    }





}


