* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: $main-font;
}

/*
@media screen and (min-width: 600px) {
html {
        background-image: url(../images/nordwood-themes-KcsKWw77Ovw-unsplash.jpg);
        width: 100%;
        object-fit: cover;
    }

    header{
        width:600px;
        margin:auto;
        background-color: $base-color;   
    }

    .menu__header{
        width:600px;
        margin:auto;
        background-color: $base-color;
    }

    .search{
        width: 600px;
        margin: auto;
    }

    .booking{
        width:600px;
        margin: auto;
    }

    .intro{
        width: 600px;
        margin: auto;
        background-color: $base-color;
    }

    .cards{
        width: 600px;
        margin: auto;
    }

    footer{
        width: 600px;
        margin: auto;
    }

    .footer__text{
        width:600px;
        margin: auto;
    }

    .menu__image{
        width:600px;
        margin: auto;
    }

    .menus{
        width:600px;
        margin: auto;
    }


    footer a{
        width: 600px;
        margin: auto;
    }

    footer h2{
        width: 600px;
        margin: auto;
    }

   
    





}*/


@media screen and (max-width: 600px) {
html {
        background-image: url(../images/nordwood-themes-KcsKWw77Ovw-unsplash.jpg);
        width: 100%;
        object-fit: cover;
    }

    header{
        width:60%;
        margin:auto;
        background-color: $base-color;   
    }

    .menu__header{
        width:60%;
        margin:auto;
        background-color: $base-color;
    }

    .search{
        width: 60%;
        margin: auto;
    }

    .booking{
        width:60%;
        margin: auto;
    }

    .intro{
        width: 60%;
        margin: auto;
        background-color: $base-color;
    }

    .cards{
        width: 60%;
        margin: auto;
    }

    footer{
        width: 60%;
        margin: auto;
    }

    .footer__text{
        width: 60%;
        margin: auto;
    }

    .menu__image{
        width:60%;
        margin: auto;
    }

    .menus{
        width:60%;
        margin: auto;
    }


    footer a{
        width: 60%;
        margin: auto;
    }

    footer h2{
        width: 60%;
        margin: auto;
    }

   
    





}



