.booking__button{
    @include box-shadow;
    @extend %container;
    color:$base-color;
    border:none;
    border-radius: 30px;
    font-size: 20px;
    width: 250px;
    background-image: linear-gradient($secondary-color, $primary-color);
    margin: auto;
    &:hover{
       background-image: linear-gradient($primary-color, $secondary-color);
       box-shadow: 0 5px 15px rgb(0 0 0 / 0.4);
       cursor: pointer;
    }    
}

.intro__button{
    @include box-shadow;
    display: flex;
    width: 90%;
    align-items: center;
    background-color:lighten($main-color, 75%);
    border-radius: 40px;
    border: none;
    padding: 15px;
    margin: auto;
    margin-bottom: 20px;
    font-weight: 800;

            i{
                color: $primary-color;
                font-size: 20px;
                margin-right: 15px;
                margin-left: 15px;
            }
    

    &:hover {
        background-color: lighten($primary-color, 75%);
        box-shadow: 0 5px 15px rgb(0 0 0 / 0.4);
        }
}



.abc {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $base-color;
    height: 20px;
    width: 20px;
    background-color: $primary-color;
    border-radius: 50%;
    color: $base-color;
    z-index: 100;
    font-size: 12px;
    margin-left: -20px;
    position: absolute;

}

.menus__button {
    @include box-shadow;
    @extend %container;
    color: $base-color;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    width: 150px;
    background-image: linear-gradient($secondary-color, $primary-color);
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 5px 15px 5px rgb(0 0 0 / 0.2);

    &:hover {
        background-image: linear-gradient($primary-color, $secondary-color);
        cursor: pointer;
        box-shadow: 0 5px 20px 5px rgb(0 0 0 / 0.4);
    }
}

// transitions for heart

.fa-heart{
    transition: background-color 3s;
}
.fa-heart:hover{
    background-color: red;
    transition: background-color 3s;
}



// need to add check to menu right side

