.menu__header{
    display: flex;
    align-content: center;
    position: relative; 
a{
    position: absolute;
    left:20px;
    font-size: 20px;
}
}

.menu__image{
    img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    }
}

.menus{
    position: relative;
    top:-40px;
    height: auto;
    display: flex;
    background-color: lighten($main-color, 78%);
    flex-direction: column;
    border-radius: 30px 30px 0 0;
    justify-items: center;
    margin-bottom: -40px;
    h2{
        font-family: $title-font;
        padding-bottom: 10px;
    }
    &__header{
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding: 20px;
    }
    i{
        font-size: 24px;
        padding-left: 5px;
        padding-top: 3px;
        
    }
}

.menu{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    h4{
        font-weight: 200;
        margin-bottom: 0;
        padding-top: 25px;
    }
&__decoration {
        color: $tertiary-color;
        font-size: larger;
        font-weight: bolder;
        padding-bottom: 10px;
        line-height: 0.2;
        margin-bottom: 10px;
    }

    .menu__section {
        padding:8px;
        @include box-shadow;
        width: 100%;
        display: flex;
        overflow: hidden;
        position: relative;
        justify-content: space-between;
        background-color: $base-color;
        border-radius: 20px;
        margin-bottom: 15px;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer;
    }
    &__text {
       max-width: calc(100% - 100px);
    }
}


.menu__section__text{
    padding: 5px;
    display: flex;
    justify-content: space-between;
    width:100%;
    transition: width 900ms;
}

.menu__price{
    display:flex;
    align-items: flex-end;
    padding-top:24px;
}

.menu__section h3{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.menu__text p{
    font-weight: 300;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

// checkmark

.checkmark{
position: absolute;
  right:0;
  height: 87px;
  display:flex;
  justify-content: center;
  margin-top: -13px;
  margin-bottom: -12px;
  width:60px;
  background-color: $tertiary-color;
  border-radius: 0 20px 20px 0;
  transform: translateX(100%);
  transition: transform 900ms;
}

.menu__section:hover .menu__section__text{
width:calc(100% - 60px);
transition: width 900ms;
}

.menu__section:hover .checkmark{
    transform: translateX(0);  
}

.menu__section:hover .checkmark i{
    transform: rotate(720deg);
    transition: transform 700ms; 
}


.checkmark i{
    font-size: 30px;
    padding: 0;
    color: $base-color;
    margin: auto;
    transform: none;
}


