header{
    @extend %container;
    display: flex;
    justify-content: center;
    img{
        height: 30px;
    }
}

footer{
    @extend %container;
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: $main-color;
    color: $base-color;
    img{
        color: $base-color;
        height: 20px;
        width:120px;
        margin-bottom: 10px;
    }
     .footer__text{
        display: flex;
        flex-direction: row;
        i{
            padding-right: 10px;
        }
        h4{
            line-height: 1.4;
        
        }
        

    }
        p {
            font-size: 16px;
            line-height: 1.6;
        }

        h2{
            font-family: $title-font;
            font-size:18px;
            padding-bottom: 15px;
        }

        a{
            color: $base-color;
        }

}

.cards{
    h2{
        margin-bottom: 10px;
        font-weight: bolder;
        font-size: 20px;
    }
}

.card{
    @include box-shadow;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin: auto;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 20px;
    &__intro{
        @extend %container;
        background-color: $base-color;
        display: flex;
        justify-content: space-between;
        border-radius: 0 0 20px 20px;
    }
    &__title{
        padding-bottom: 5px;
    }

    img{
        height:160px;
        object-fit: cover;
        border-radius: 20px 20px 0px 0px;
    }

    

}

