.booking__button{
    @include box-shadow;
    @extend %container;
    color:$base-color;
    border:none;
    border-radius: 30px;
    font-size: 20px;
    width: 250px;
    background-image: linear-gradient($secondary-color, $primary-color);
    margin: auto;
    &:hover{
       background-image: linear-gradient($primary-color, $secondary-color);
    }    
}

.intro__button{
    @include box-shadow;
    background:lighten($main-color, 95%);
    border-radius: 40px;
    width: 100%;
    border: none;
    padding: 15px;
    margin: auto;
    margin-bottom: 15px;
    font-weight: 800;

    &:hover {
        background: $primary-color,
        }
}

.menus__button {
    @include box-shadow;
    @extend %container;
    color: $base-color;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    width: 150px;
    background-image: linear-gradient($secondary-color, $primary-color);
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;

    &:hover {
        background-image: linear-gradient($primary-color, $secondary-color);
    }
}