@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&family=Shrikhand&display=swap');

::placeholder{
    color: $main-color;
    font-size: 16px;
}

a{
    text-decoration: none;
    color: $main-color;
}

